{% extends 'base.html' %}

<!-- templates/stock/lister_produits.html -->
{% block content %}
    <h1>Liste des Produits</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix d'achat</th>
                <th>prix de vente</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.prix_achat }}</td>
                    <td>{{produit.prix_vente}}</td>
                    <th>{{produit.stock_actuel}}</th>
                    <td>
                        <a href="{% url 'stock:enregistrer_mouvement' produit.id %}">Gérer Stock</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{% url 'stock:ajouter_produit' %}">Ajouter un Produit</a>
{% endblock %}
